
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>EUCOMMTOOLS | International Knockout Mouse Consortium (IKMC)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="<%= request.script_name %>/misc/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="all" href="<%= request.script_name %>/sites/default/files/css/css_81b0f44fca24e723d49836eaa6cd58ff.css" />
<link type="text/css" rel="stylesheet" media="print" href="<%= request.script_name %>/sites/default/files/css/css_e69dd856dfae2a651ffc5c252c6bd0ff.css" />
    <script type="text/javascript" src="<%= request.script_name %>/sites/default/files/js/js_ea242cb25786147b418353190287ca7a.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "http://www.knockoutmouse.org", "dhtmlMenu": { "clone": "clone", "slide": 0, "siblings": 0, "relativity": 0, "children": 0, "doubleclick": 0 } });
//--><!]]>
</script>
    <!--[if lte IE 7]><link type="text/css" rel="stylesheet" media="all" href="<%= request.script_name %>/sites/all/themes/ikmc/fix-ie.css" /><![endif]--><!--If Less Than or Equal (lte) to IE 7-->

<script>
function jscss(a,o,c1){switch(a){case'add':if(!jscss('check',o,c1)){o.className+=o.className?' '+c1:c1;}break;case'remove':var rep=o.className.match(' '+c1)?' '+c1:c1;o.className=o.className.replace(rep,'');break;case'check':return new RegExp('\\b'+c1+'\\b').test(o.className);break;}}function actsearch(){var stab=document.getElementById('stab');var sbody=document.getElementById('sbody');var btab=document.getElementById('btab');var bbody=document.getElementById('bbody');if(!jscss('check',stab,'active-tab')){jscss('remove',btab,'active-tab');jscss('add',stab,'active-tab');jscss('remove',sbody,'hide');jscss('add',bbody,'hide');}return false;}function actbrowse(){var stab=document.getElementById('stab');var sbody=document.getElementById('sbody');var btab=document.getElementById('btab');var bbody=document.getElementById('bbody');if(!jscss('check',btab,'active-tab')){jscss('remove',stab,'active-tab');jscss('add',btab,'active-tab');jscss('remove',bbody,'hide');jscss('add',sbody,'hide');}return false;}

function _ikmctoggle(obj, elName, showtext, hidetext) { if (showtext == null){ showtext = 'show'; } else { showtext = "<img src='<%= request.script_name %>/static/images/plus.png' alt='Plus sign'> " + showtext; } if (hidetext == null){ hidetext = 'hide'; } else { hidetext = "<img src='<%= request.script_name %>/static/images/minus.png' alt='Minus sign'> " + hidetext;  } var el = document.getElementById(elName); if (el.style.display == 'block'){ el.style.display='none'; obj.innerHTML = showtext; }else{ el.style.display='block'; obj.innerHTML = hidetext; } return false; }
</script>

<meta name="google-site-verification" content="XZZraOH6fjBquF37qY_fDUXLbmU8SBxQtgfmnoXUZMQ" />

</head>

<body class="sidebar-left">

<!-- Layout -->
  <div id="wrapper">
    <div id="header">
      <a href="http://www.knockoutmouse.org" title="International Knockout Mouse Consortium">
        <img src="<%= request.script_name %>/sites/all/themes/ikmc/logo.png" alt="International Knockout Mouse Consortium" id="logo" />
      </a>
      <h1 style="margin-top:47px;"><a href="http://www.knockoutmouse.org" title="International Knockout Mouse Consortium"><span id="sitename">International Knockout Mouse Consortium</span></a></h1>
      <div class="clear"></div>
    </div> <!-- /#header -->

    <div id="container">
      <div id="sidebar-left" class="sidebar">
        <div id="block-menu-menu-aboutmenu" class="block block-menu">
          <h3>About...</h3>
          <div class="content">
            <ul class="menu"><li class="expanded first dhtml-menu  odd"><a href="<%= request.script_name %>/aboutikmc" title="About the IKMC" id="dhtml_menu-287">IKMC</a><ul class="menu"><li class="leaf first dhtml-menu  odd"><a href="<%= request.script_name %>/about/targeting-strategies" title="Targeting strategies" id="dhtml_menu-340">Targeting strategies</a></li>
              <li class="leaf last dhtml-menu  even"><a href="<%= request.script_name %>/about/view-all-ikmc-allele-types" title="" id="dhtml_menu-339">IKMC alleles</a></li>
              </ul></li>
              <li class="leaf  dhtml-menu  even"><a href="<%= request.script_name %>/about/IKMC" title="" id="dhtml_menu-277">IMPC</a></li>
              <li class="expanded  dhtml-menu  even"><a href="<%= request.script_name %>/aboutkomp" title="About KOMP" id="dhtml_menu-231">KOMP</a><ul class="menu"><li class="leaf first dhtml-menu  odd"><a href="<%= request.script_name %>/aboutkompdcc" title="About KOMP DCC" id="dhtml_menu-232">KOMP DCC</a></li>
              <li class="leaf  dhtml-menu  even"><a href="http://komp.org/index.php?link=5" title="" id="dhtml_menu-233">KOMP Repository</a></li>
              <li class="leaf last dhtml-menu  odd"><a href="<%= request.script_name %>/aboutkompstrategies" title="KOMP Targeting Strategies" id="dhtml_menu-234">KOMP Targeting Strategies</a></li>
              </ul></li>
              <li class="expanded  dhtml-menu  odd"><a href="<%= request.script_name %>/about/eucomm" title="" id="dhtml_menu-372">EUCOMM</a><ul class="menu"><li class="leaf first dhtml-menu  odd"><a href="<%= request.script_name %>/about/eucomm/allele-types" title="EUCOMM Targeting Strategies" id="dhtml_menu-375">EUCOMM Targeting Strategies</a></li>
              <li class="leaf last dhtml-menu  even"><a href="<%= request.script_name %>/about/eucomm/recommendations-users-eucomm-alleles" title="Recommendations for Users of EUCOMM Alleles" id="dhtml_menu-376">Recommendations for Users</a></li>
              </ul></li>
              <li class="expanded  dhtml-menu  odd"><a href="<%= request.script_name %>/about/eucommtools" title="EUCOMMTOOLS" id="dhtml_menu-378">EUCOMMTOOLS</a><ul class="menu"><li class="leaf first dhtml-menu  even"><a href="<%= request.script_name %>/about/eucommtools/vectors" title="EUCOMMTOOLs Targeting Strategies" id="dhtml_menu-380">EUCOMMTOOLs Targeting Strategies</a></li>
              <li class="leaf  dhtml-menu  odd"><a href="<%= request.script_name %>/about/eucommtools/recommendations" title="Recommendations to Users of EUCOMMTOOLS Alleles" id="dhtml_menu-384">Recommendations to Users</a></li>
              </ul></li>
              <li class="leaf  dhtml-menu  even"><a href="http://www.norcomm.org" title="" id="dhtml_menu-268">NorCOMM</a></li>
              <li class="leaf last dhtml-menu  odd"><a href="http://www.tigm.org/" title="" id="dhtml_menu-269">TIGM</a></li>
            </ul>
          </div>
        </div>
      </div> <!-- /#sidebar-left -->

        <div id="center">
          <div class="breadcrumb"><a href="<%= request.script_name %>/">Home</a> » EUCOMMTOOLS</div>
            <div class="content">
              <p><img src="<%= request.script_name %>/sites/default/files/image001_4.jpg" /> </p>
              <p>EUCOMMTOOLS - "EUCOMM: Tools for Functional Annotation of the Mouse Genome" - is successor project of EUCOMM and member of the International Knockout Mouse Consortium (IKMC).<br />
              EUCOMMTOOLS will complete the IKMC resource of mutations for all protein coding genes.<br />
              Furthermore, EUCOMMTOOLS will maximize the utility of the conditional IKMC resource by generating up to 250 different, mostly inducible Cre driver mouse lines.<br />
              In addition, EUCOMMTOOLS will develop novel tools to enhance the versatility of the IKMC resource.<br />
              EUCOMMTOOLS vectors, mutant ES cells and mutant mice are distributed worldwide:<br />
              EUCOMMTOOLS mutant ES cells and vectors can be obtained from the European Mouse Mutant Cell Repository (EuMMCR).<br />
              EUCOMMTOOLS mutant mice are archived and distributed by the European Mouse Mutant Archive (EMMA).</p>
              <p><img src="<%= request.script_name %>/sites/default/files/image002_0.jpg" /><img src="<%= request.script_name %>/sites/default/files/image003_3.png" /></p>
              <h1>EUCOMMTOOLS Project Information</h1>
              <h3>Knockout-first Mutant Alleles</h3>
              <p>EUCOMMTOOLS will create 3500 C57Bl/6 conditional mutant alleles for single-exon (or otherwise previously conditionally untargeted) protein-coding mouse genes. These alleles will be made predominantly by introducing an 'artificial intron', containing a standard EUCOMM promoter-driven targeting cassette, into the coding sequence of the single-exon gene.</p>
              <h3>Cre Resources</h3>
              <p>EUCOMMTOOLS will engineer 500 new Cre C57Bl/6 ES cell lines by Cre knock-ins into genes with useful expression patterns. The resource will be made with inducible forms of Cre recombinase such as CreERT2. Up to 250 lines of Cre driver mice on a pure C57Bl/6N background will be generated and the Cre expression patterns documented and annotated in day P14 and P56. These mice will form a matched Cre driver resource for C57Bl/6N mice produced from conditional IKMC resources.</p>
              <h3>Research, Technology and Complementary Reagents</h3>
              <p>EUCOMMTOOLS will develop novel technologies to add value, depth and flexibility to existing IKMC ES cell and mouse resources. Key areas include:<br />
              •   Development of novel recombinase based regulatory switches<br />
              •   Exploration of zinc-finger nuclease stimulated homologous recombination strategies in fertilized oocytes<br />
              •   Development and validation of complementary modular vector reagents which enable the construction of new useful knock-in alleles such as fluorescent and other reporters, site specific recombinases, and mutant cDNAs. These novel alleles can be constructed either by re-utilizing existing IKMC modular vector resources or directly modifying existing targeted IKMC ES cell lines by RMCE.</p>
              <p><img src="<%= request.script_name %>/sites/default/files/image004.jpg" /></p>
              <p>Structure of the EUCOMMTOOLS project</p>
              <h3>Societal Benefits</h3>
              <p>•  Improvement of health research<br />
              •  Speedup of drug development, therapy and diagnosis<br />
              •  Competitive advantage for pharmaceutical industry</p>
              <h3>Funding &amp; Structure</h3>
              <p>•  Funded by European Union (FP7, THEME Health)<br />
              •  EU funding: up to 12 million Euros<br />
              •  Large-scale Integrating Project<br />
              •  Consortium: 8 participants from five European countries</p>
              <h1>EUCOMMTOOLS SAB, Participants and Publications</h1>
              <h3>EUCOMMTOOLS Scientific Advisory Board</h3>
              <p>•    Janan Eppig, Bar Harbor, ME, USA<br />
              •   John Hohmann, Seattle, WA, USA<br />
              •   Alexandra Joyner, New York, NY, USA<br />
              •   Monica Justice, Houston, TX, USA<br />
              •   Björn Löwenadler, Mölndal, Sweden<br />
              •   Andrew McMahon, Cambridge, MA, USA<br />
              •   Luis Puelles, Murcia, Spain</p>
              <h3>EUCOMMTOOLS Coordination</h3>
              <p>•    Wolfgang Wurst<br />
              •   Allan Bradley</p>
              <h3>EUCOMMTOOLS Management</h3>
              <p>•    Cornelia Kaloff<br />
              •   Derek Matthews<br />
              •   Karin Simmerl</p>
              <h3>EUCOMMTOOLS Participants</h3>
              <p>•    Helmholtz Zentrum München, German Research Center for Environmental Health GmbH (formerly GSF), Munich/Neuherberg, Germany<br />
              Wolfgang Wurst, Joel Schick, Ralf Kühn, Andreas Hörlein, Cornelia Kaloff, Claudia Seisenberger, Antje Bürger, Karin Simmerl<br />
              <a href="http://www.helmholtz-muenchen.de/idg/" title="http://www.helmholtz-muenchen.de/idg/">http://www.helmholtz-muenchen.de/idg/</a><br />
              •   The Wellcome Trust Sanger Institute Hinxton, Cambridge, UK<br />
              Allan Bradley, William C. Skarnes, Barry Rosen, Anthony West, Wendy Bushell, Haydn Prosser, Vivek Iyer, Ramiro Ramirez-Solis, Derek Matthews<br />
              <a href="http://www.sanger.ac.uk/htgt" title="http://www.sanger.ac.uk/htgt">http://www.sanger.ac.uk/htgt</a><br />
              •   European Molecular Biology Laboratory (EMBL)<br />
              - Outstation Monterotondo, Italy<br />
              Nadia Rosenthal<br />
              <a href="http://www.embl-monterotondo.it/" title="http://www.embl-monterotondo.it/">http://www.embl-monterotondo.it/</a><br />
              - Outstation European Bioinformatics Institute (EBI), Hinxton, Cambridge, UK<br />
              Paul Flicek, Damian Smedley<br />
              <a href="http://www.ebi.ac.uk/" title="http://www.ebi.ac.uk/">http://www.ebi.ac.uk/</a><br />
              •   University of Technology, Dresden, Germany<br />
              Francis Stewart, Konstantinos Anastassiadis, Andrea Kranz<br />
              <a href="http://www.biotec.tu-dresden.de/stewart" title="http://www.biotec.tu-dresden.de/stewart">http://www.biotec.tu-dresden.de/stewart</a><br />
              •   Consiglio Nazionale delle Ricerche, Monterotondo, Italy<br />
              Glauco Tocchini-Valentini, Brendan Doe<br />
              <a href="http://www.emma.cnr.it/" title="http://www.emma.cnr.it/">http://www.emma.cnr.it/</a><br />
              •   Institut Clinique de la Souris, Strasbourg, France<br />
              Yann Hérault, Marie-Christine Birling, Guillaume Pavlovic, Mohammed Selloum<br />
              <a href="http://www-mci.u-strasbg.fr/" title="http://www-mci.u-strasbg.fr/">http://www-mci.u-strasbg.fr/</a><br />
              •   Universidad Miguel Hernández de Elche, Alicante, Spain<br />
              Salvador Martínez<br />
              <a href="http://www.umh.es/" title="http://www.umh.es/">http://www.umh.es/</a><br />
              •   Medical Research Council (MRC)<br />
              - Mammalian Genetics Unit, Harwell, UK<br />
              Steve Brown<br />
              <a href="http://www.mgu.har.mrc.ac.uk/" title="http://www.mgu.har.mrc.ac.uk/">http://www.mgu.har.mrc.ac.uk/</a><br />
              - Human Genetics Unit, Edinburgh, UK<br />
              Richard Baldock<br />
              <a href="http://hgu.mrc.ac.uk/" title="http://hgu.mrc.ac.uk/">http://hgu.mrc.ac.uk/</a></p>
              <h3>EUCOMMTOOLS Publications</h3>
              <h3>2012</h3>
              <p>•    <b>eMouseAtlas, EMAGE, and the spatial dimension of the transcriptome. </b><br />
              Armit C, Venkataraman S, Richardson L, Stevenson P, Moss J, Graham L, Ross A, Yang Y, Burton N, Rao J, Hill B, Rannie D, Wicks M, Davidson D, Baldock R.<br />
              Mamm Genome. 2012 Oct;23(9-10):514-24. PMID: 22847374 DOI: 10.1007/s00335-012-9407-1<br />
              •   <b>Mouse large-scale phenotyping initiatives: overview of the European Mouse Disease Clinic (EUMODIC) and of the Wellcome Trust Sanger Institute Mouse Genetics Project.</b><br />
              Ayadi A, Birling MC, Bottomley J, Bussell J, Fuchs H, Fray M, Gailus-Durner V, Greenaway S, Houghton R, Karp N, Leblanc S, Lengger C, Maier H, Mallon AM, Marschall S, Melvin D, Morgan H, Pavlovic G, Ryder E, Skarnes WC, Selloum M, Ramirez-Solis R, Sorg T, Teboul L, Vasseur L, Walling A, Weaver T, Wells S, White JK, Bradley A, Adams DJ, Steel KP, Hrabé de Angelis M, Brown SD, Hérault Y.<br />
              Mamm Genome. 2012 Oct;23(9-10):600-10. PMID: 22961258 DOI: 10.1007/s00335-012-9418-y<br />
              •   <b>Biomedical atlases: systematics, informatics and analysis.</b><br />
              Baldock RA, Burger A.<br />
              Adv Exp Med Biol. 2012;736:655-77. PMID: 22161358 DOI: 10.1007/978-1-4419-7210-1_39<br />
              •   <b>Rapid-throughput skeletal phenotyping of 100 knockout mice identifies 9 new genes that determine bone strength.</b><br />
              Bassett JH, Gogakos A, White JK, Evans H, Jacques RM, van der Spek AH; Sanger Mouse Genetics Project, Ramirez-Solis R, Ryder E, Sunter D, Boyde A, Campbell MJ, Croucher PI, Williams GR.<br />
              PLoS Genet. 2012 Aug;8(8):e1002858. PMID: 22876197 DOI: 10.1371/journal.pgen.1002858<br />
              •   <b>Direct cloning, genetic engineering, and heterologous expression of the syringolin biosynthetic gene cluster in E. coli through Red/ET recombineering.</b><br />
              Bian X, Huang F, Stewart FA, Xia L, Zhang Y, Müller R.<br />
              Chembiochem. 2012 Sep 3;13(13):1946-52. PMID: 22851214 DOI: 10.1002/cbic.201200310<br />
              •   <b>Highly-efficient, fluorescent, locus directed Cre and FlpO deleter mice on a pure C57BL/6N genetic background. </b><br />
              Birling MC, Dierich A, Jacquot S, Hérault Y, Pavlovic G .<br />
              Genesis. 2012 Jun;50(6):482-9. PMID: 22121025 DOI: 10.1002/dvg.20826<br />
              •   <b>The mammalian gene function resource: the international knockout mouse consortium.</b><br />
              Bradley A, Anastassiadis K, Ayadi A, Battey JF, Bell C, Birling MC, Bottomley J, Brown SD, Bürger A, Bult CJ, Bushell W, Collins FS, Desaintes C, Doe B, Economides A, Eppig JT, Finnell RH, Fletcher C, Fray M, Frendewey D, Friedel RH, Grosveld FG, Hansen J, Hérault Y, Hicks G, Hörlein A, Houghton R, Hrabé de Angelis M, Huylebroeck D, Iyer V, de Jong PJ, Kadin JA, Kaloff C, Kennedy K, Koutsourakis M, Lloyd KCK, Marschall S, Mason J, McKerlie C, McLeod MP, von Melchner H, Moore M, Mujica AO, Nagy A, Nefedov M, Nutter LM, Pavlovic G, Peterson JL, Pollock J, Ramirez-Solis R, Rancourt DE, Raspa M, Remacle JE, Ringwald M, Rosen B, Rosenthal N, Rossant J, Ruiz Noppinger P, Ryder E, Schick JZ, Schnütgen F, Schofield P, Seisenberger C, Selloum M, Simpson EM, Skarnes WC, Smedley D, Stanford WL, Stewart AF, Stone K, Swan K, Tadepally H, Teboul L, Tocchini-Valentini GP, Valenzuela D, West AP, Yamamura KI, Yoshinaga Y, Wurst W.<br />
              Mamm Genome. 2012 Oct;23(9-10):580-6. PMID: 22968824 DOI: 10.1007/s00335-012-9422-2<br />
              •   <b>The International Mouse Phenotyping Consortium: past and future perspectives on mouse phenotyping.</b><br />
              Brown SD, Moore MW.<br />
              Mamm Genome. 2012 Oct;23(9-10):632-40. PMID: 22940749 DOI: 10.1007/s00335-012-9427-x<br />
              •   <b>Towards an encyclopaedia of mammalian gene function: the International Mouse Phenotyping Consortium.</b><br />
              Brown SD, Moore MW.<br />
              Dis Model Mech. 2012 May;5(3):289-92. PMID: 22566555 DOI: 10.1242/dmm.009878<br />
              •   <b>Mouse genomics programs and resources: The mouse: pushing the boundaries.</b><br />
              Bucan M, Eppig JT, Brown S.<br />
              Mamm Genome. 2012 Oct;23(9-10):479-89. PMID: 22968825 DOI: 10.1007/s00335-012-9429-8<br />
              •   <b>CreZOO--the European virtual repository of Cre and other targeted conditional driver strains.</b><br />
              Chandras C, Zouberakis M, Salimova E, Smedley D, Rosenthal N, Aidinis V.<br />
              Database (Oxford). 2012 Jun 21;2012:bas029. PMID: 22730454 DOI: 10.1093/database/bas029<br />
              •   <b>Large-scale identification of microRNA targets in murine Dgcr8-deficient embryonic stem cell lines.</b><br />
              Davis MP, Abreu-Goodger C, van Dongen S, Lu D, Tate PH, Bartonicek N, Kutter C, Liu P, Skarnes WC, Enright AJ, Dunham I.<br />
              PLoS One. 2012;7(8):e41762. PMID: 22912678 DOI: 10.1371/journal.pone.0041762<br />
              •   <b>Centralized mouse repositories.</b><br />
              Donahue LR, Hrabe de Angelis M, Hagn M, Franklin C, Lloyd KC, Magnuson T, McKerlie C, Nakagata N, Obata Y, Read S, Wurst W, Hörlein A, Davisson MT.<br />
              Mamm Genome. 2012 Oct;23(9-10):559-71. PMID: 22945696 DOI: 10.1007/s00335-012-9420-4<br />
              •   <b>An integrated encyclopedia of DNA elements in the human genome.</b><br />
              ENCODE Project Consortium, Dunham I, et al.<br />
              Natu<b>re. 2012 Sep 6;489(7414):57-74. PMID: 22955616 DOI: 10.1038/nature11247<br />
              •   Full-length RecE enhances linear-linear homologous recombination and facilitates direct cloning for bioprospecting.</b><br />
              Fu J, Bian X, Hu S, Wang H, Huang F, Seibert PM, Plaza A, Xia L, Müller R, Stewart AF, Zhang Y.<br />
              Nat Biotechnol. 2012 May;30(5):440-6. PMID: 22544021 DOI: 10.1038/nbt.2183<br />
              •   <b>Extensive compensatory cis-trans regulation in the evolution of mouse gene expression.</b><br />
              Goncalves A, Leigh-Brown S, Thybert D, Stefflova K, Turro E, Flicek P, Brazma A, Odom DT, Marioni JC.<br />
              Genome Res. 2012 Aug 23. PMID: 22919075 DOI: 10.1101/gr.142281.112<br />
              •   <b>Targeted deletion of microRNA-22 promotes stress-induced cardiac dilation and contractile dysfunction.</b><br />
              Gurha P, Abreu-Goodger C, Wang T, Ramirez MO, Drumond AL, van Dongen S, Chen Y, Bartonicek N, Enright AJ, Lee B, Kelm RJ Jr, Reddy AK, Taffet GE, Bradley A, Wehrens XH, Entman ML, Rodriguez A.<br />
              Circulation. 2012 Jun 5;125(22):2751-61. PMID: 22570371 DOI: 10.1161/CIRCULATIONAHA.111.044354<br />
              •   <b>Web tools for large-scale 3D biological images and atlases.</b><br />
              Husz ZL, Burton N, Hill B, Milyaev N, Baldock RA.<br />
              BMC Bioinformatics. 2012 Jun 7;13:122. PMID: 22676296 DOI: 10.1186/1471-2105-13-122<br />
              •   <b>Humanized c-Myc mouse.</b><br />
              Lehmann FM, Feicht S, Helm F, Maurberger A, Ladinig C, Zimber-Strobl U, Kühn R, Mautner J, Gerbitz A, Bornkamm GW.<br />
              PLoS One. 2012;7(7):e42021. PMID: 22860051 DOI: 10.1371/journal.pone.0042021<br />
              •   <b>Accessing data from the International Mouse Phenotyping Consortium: state of the art and future plans.</b><br />
              Mallon AM, Iyer V, Melvin D, Morgan H, Parkinson H, Brown SD, Flicek P, Skarnes WC.<br />
              Mamm Genome. 2012 Oct;23(9-10):641-52. PMID: 22991088 DOI: 10.1007/s00335-012-9428-9<br />
              •   <b>The transcriptional and epigenomic foundations of ground state pluripotency.</b><br />
              Marks H, Kalkan T, Menafra R, Denissov S, Jones K, Hofemeister H, Nichols J, Kranz A, Stewart AF, Smith A, Stunnenberg HG.<br />
              Cell. 2012 Apr 27;149(3):590-604. PMID: 22541430 DOI: 10.1016/j.cell.2012.03.026<br />
              •   <b>Orphan receptor IL-17RD tunes IL-17A signalling and is required for neutrophilia. </b><br />
              Mellett M, Atzei P, Horgan A, Hams E, Floss T, Wurst W, Fallon PG, Moynagh PN.<br />
              Nat Commun. 2012 Oct 9;3:1119 PMID: 23047677 DOI: 10.1038/ncomms2127<br />
              •   <b>Modeling disease mutations by gene targeting in one-cell mouse embryos.</b><br />
              Meyer M, Ortiz O, Hrabé de Angelis M, Wurst W, Kühn R.<br />
              Proc Natl Acad Sci U S A. 2012 Jun 12;109(24):9354-9. PMID: 22660928 DOI: 10.1073/pnas.1121203109<br />
              •   <b>Beyond knockouts: cre resources for conditional mutagenesis.</b><br />
              Murray SA, Eppig JT, Smedley D, Simpson EM, Rosenthal N.<br />
              Mamm Genome. 2012 Oct;23(9-10):587-99. PMID: 22926223 DOI: 10.1007/s00335-012-9430-2<br />
              Erratum in: Mamm Genome. 2012 Dec;23(11-12):791. PMID: 23052824 DOI: 10.1007/s00335-012-9434-y<br />
              •   <b>Large-scale mouse knockouts and phenotypes.</b><br />
              Ramírez-Solis R, Ryder E, Houghton R, White JK, Bottomley J.<br />
              Wiley Interdiscip Rev Syst Biol Med. 2012 Nov;4(6):547-63. PMID: 22899600 DOI: 10.1002/wsbm.1183<br />
              •   <b>Transposon-mediated BAC transgenesis in human ES cells.</b><br />
              Rostovskaya M, Fu J, Obst M, Baer I, Weidlich S, Wang H, Smith AJ, Anastassiadis K, Stewart AF.<br />
              Nucleic Acids Res. 2012 Oct;40(19):e150. PMID: 22753106 DOI: 10.1093/nar/gks643<br />
              •   <b>A genome-scale resource for in vivo tag-based protein function exploration in C. elegans.</b><br />
              Sarov M, Murray JI, Schanze K, Pozniakovski A, Niu W, Angermann K, Hasse S, Rupprecht M, Vinis E, Tinney M, Preston E, Zinke A, Enst S, Teichgraber T, Janette J, Reis K, Janosch S, Schloissnig S, Ejsmont RK, Slightam C, Xu X, Kim SK, Reinke V, Stewart AF, Snyder M, Waterston RH, Hyman AA.<br />
              Cell. 2012 Aug 17;150(4):855-66. PMID: 22901814 DOI: 10.1016/j.cell.2012.08.001<br />
              •   <b>Building and sharing resources. Interview by Krystie Nybo.</b><br />
              Skarnes WC.<br />
              Biotechniques. 2012 May;52(5):299. PMID: 22578120 DOI: 10.2144/000113846<br />
              •   <b>Large-scale phenotyping of an accurate genetic mouse model of JNCL identifies novel early pathology outside the central nervous system.</b><br />
              Staropoli JF, Haliw L, Biswas S, Garrett L, Hölter SM, Becker L, Skosyrski S, Da Silva-Buttkus P, Calzada-Wack J, Neff F, Rathkolb B, Rozman J, Schrewe A, Adler T, Puk O, Sun M, Favor J, Racz I, Bekeredjian R, Busch DH, Graw J, Klingenspor M, Klopstock T, Wolf E, Wurst W, Zimmer A, Lopez E, Harati H, Hill E, Krause DS, Guide J, Dragileva E, Gale E, Wheeler VC, Boustany RM, Brown DE, Breton S, Ruether K, Gailus-Durner V, Fuchs H, de Angelis MH, Cotman SL.<br />
              PLoS One. 2012;7(6):e38310. PMID: 22701626 DOI: 10.1371/journal.pone.0038310<br />
              •   <b>Srgap3-/- mice present a neurodevelopmental disorder with schizophrenia-related intermediate phenotypes.</b><br />
              Waltereit R, Leimer U, von Bohlen Und Halbach O, Panke J, Hölter SM, Garrett L, Wittig K, Schneider M, Schmitt C, Calzada-Wack J, Neff F, Becker L, Prehn C, Kutscherjawy S, Endris V, Bacon C, Fuchs H, Gailus-Durner V, Berger S, Schönig K, Adamski J, Klopstock T, Esposito I, Wurst W, de Angelis MH, Rappold G, Wieland T, Bartsch D.<br />
              FASEB J. 2012 Jul 20. PMID: 22820399 DOI: 10.1096/fj.11-202317</p>
              <h3>2011</h3>
              <p>•    <b>High-efficiency counterselection recombineering for site-directed mutagenesis in bacterial artificial chromosomes.</b><br />
              Bird AW, Erler A, Fu J, Hériché JK, Maresca M, Zhang Y, Hyman AA, Stewart AF.<br />
              Nat Methods. 2011 Dec 4;9(1):103-9. PMID: 22138824 DOI: 10.1038/nmeth.1803<br />
              •   <b>A high-resolution anatomical atlas of the transcriptome in the mouse embryo.</b><br />
              Diez-Roux G, Banfi S, Sultan M, Geffers L, Anand S, Rozado D, Magen A, Canidio E, Pagani M, Peluso I, Lin-Marq N, Koch M, Bilio M, Cantiello I, Verde R, De Masi C, Bianchi SA, Cicchini J, Perroud E, Mehmeti S, Dagand E, Schrinner S, Nürnberger A, Schmidt K, Metz K, Zwingmann C, Brieske N, Springer C, Hernandez AM, Herzog S, Grabbe F, Sieverding C, Fischer B, Schrader K, Brockmeyer M, Dettmer S, Helbig C, Alunni V, Battaini MA, Mura C, Henrichsen CN, Garcia-Lopez R, Echevarria D, Puelles E, Garcia-Calero E, Kruse S, Uhr M, Kauck C, Feng G, Milyaev N, Ong CK, Kumar L, Lam M, Semple CA, Gyenesei A, Mundlos S, Radelof U, Lehrach H, Sarmientos P, Reymond A, Davidson DR, Dollé P, Antonarakis SE, Yaspo ML, Martinez S, Baldock RA, Eichele G, Ballabio A.<br />
              PLoS Biol. 2011 Jan 18;9(1):e1000582. PMID: 21267068 DOI: 10.1371/journal.pbio.1000582<br />
              •   <b>Towards BioDBcore: a community-defined information specification for biological databases.</b><br />
              Gaudet P, Bairoch A, Field D, Sansone SA, Taylor C, Attwood TK, Bateman A, Blake JA, Bult CJ, Cherry JM, Chisholm RL, Cochrane G, Cook CE, Eppig JT, Galperin MY, Gentleman R, Goble CA, Gojobori T, Hancock JM, Howe DG, Imanishi T, Kelso J, Landsman D, Lewis SE, Karsch Mizrachi I, Orchard S, Ouellette BF, Ranganathan S, Richardson L, Rocca-Serra P, Schofield PN, Smedley D, Southan C, Tan TW, Tatusova T, Whetzel PL, White O, Yamasaki C; BioDBCore Working Group.<br />
              Database (Oxford). 2011 Jan 4;2011:baq027. PMID: 21205783 DOI: 10.1093/database/baq027<br />
              •   <b>CD19-independent instruction of murine marginal zone B-cell development by constitutive Notch2 signaling.</b><br />
              Hampel F, Ehrenberg S, Hojer C, Draeseke A, Marschall-Schröter G, Kühn R, Mack B, Gires O, Vahl CJ, Schmidt-Supprian M, Strobl LJ, Zimber-Strobl U.<br />
              Blood. 2011 Dec 8;118(24):6321-31. PMID: 21795747 DOI: 10.1182/blood-2010-12-325944<br />
              •   <b>Automatically identifying and annotating mouse embryo gene expression patterns.</b><br />
              Han L, van Hemert JI, Baldock RA.<br />
              Bioinformatics. 2011 Apr 15;27(8):1101-7. PMID: 21357576 DOI: 10.1093/bioinformatics/btr105<br />
              •   <b>Digital atlasing and standardization in the mouse brain.</b><br />
              Hawrylycz M, Baldock RA, Burger A, Hashikawa T, Johnson GA, Martone M, Ng L, Lau C, Larson SD, Nissanov J, Puelles L, Ruffins S, Verbeek F, Zaslavsky I, Boline J.<br />
              PLoS Comput Biol. 2011 Feb 3;7(2):e1001065. Erratum in: PLoS Comput Biol. 2011 Feb;7(2). PMID: 21304938 DOI:10.1371/journal.pcbi.1001065<br />
              •   <b>Requirement of the RNA-editing enzyme ADAR2 for normal physiology in mice.</b><br />
              Horsch M, Seeburg PH, Adler T, Aguilar-Pimentel JA, Becker L, Calzada-Wack J, Garrett L, Götz A, Hans W, Higuchi M, Hölter SM, Naton B, Prehn C, Puk O, Rácz I, Rathkolb B, Rozman J, Schrewe A, Adamski J, Busch DH, Esposito I, Graw J, Ivandic B, Klingenspor M, Klopstock T, Mempel M, Ollert M, Schulz H, Wolf E, Wurst W, Zimmer A, Gailus-Durner V, Fuchs H, de Angelis MH, Beckers J.<br />
              J Biol Chem. 2011 May 27;286(21):18614-22. PMID: 21467037 DOI: 10.1074/jbc.M110.200881<br />
              •   <b>A scalable pipeline for highly effective genetic modification of a malaria parasite.</b><br />
              Pfander C, Anar B, Schwach F, Otto TD, Brochet M, Volkmann K, Quail MA, Pain A, Rosen B, Skarnes W, Rayner JC, Billker O.<br />
              Nat Methods. 2011 Oct 23;8(12):1078-82. PMID: 22020067 DOI: 10.1038/nmeth.1742<br />
              •   <b>A resource of vectors and ES cells for targeted deletion of microRNAs in mice.</b><br />
              Prosser HM, Koike-Yusa H, Cooper JD, Law FC, Bradley A.<br />
              Nat Biotechnol. 2011 Aug 7;29(9):840-5. PMID: 21822254 DOI: 10.1038/nbt.1929<br />
              •   <b>A conditional knockout resource for the genome-wide study of mouse gene function.</b><br />
              Skarnes WC, Rosen B, West AP, Koutsourakis M, Bushell W, Iyer V, Mujica AO, Thomas M, Harrow J, Cox T, Jackson D, Severin J, Biggs P, Fu J, Nefedov M, de Jong PJ, Stewart AF, Bradley A.<br />
              Nature. 2011 Jun 15;474(7351):337-42. PMID: 21677750 DOI: 10.1038/nature10163<br />
              •   <b>Cre recombinase resources for conditional mouse mutagenesis.</b><br />
              Smedley D, Salimova E, Rosenthal N.<br />
              Methods. 2011 Apr;53(4):411-6. PMID: 21195764 DOI: 10.1016/j.ymeth.2010.12.027<br />
              •   <b>The BioMart interface to the eMouseAtlas gene expression database EMAGE.</b><br />
              Stevenson P, Richardson L, Venkataraman S, Yang Y, Baldock R.<br />
              Database (Oxford). 2011 Sep 18;2011:bar029. PMID: 21930504 DOI: 10.1093/database/bar029<br />
              •   <b>Sprouty genes prevent excessive FGF signalling in multiple cell types throughout development of the cerebellum.</b><br />
              Yu T, Yaguchi Y, Echevarria D, Martinez S, Basson MA.<br />
              Development. 2011 Jul;138(14):2957-68. PMID: 21693512 DOI: 10.1242/dev.063784</p>
            </div>
          </div>
        </div> <!-- /#center -->

        <div id="footer" class="clear">
          <a href="<%= request.script_name %>/disclaimer">Warranty Disclaimer and Copyright Notice</a><br />
          This site is maintained by the <a href="<%= request.script_name %>/about">I-DCC and the KOMP-DCC</a>.<br />Supported by the European Union (Project number: 223592) <br />and the National Institutes of Health (Grant number: NIH HG004074).
        </div> <!-- /#footer -->
    </div> <!-- /#container -->
    <span class="clear"></span>
  </div> <!-- /#wrapper -->
<!-- /layout -->

<script type="text/javascript">
    //
    if (navigator.userAgent.indexOf("Safari") > 0)
    {
        // Fix safari "label click/toggle checkbox" issue
        var labels = document.getElementsByTagName("label");
        for (i = 0; i < labels.length; i++)
        {
            labels[i].addEventListener("click", addLabelFocus, false);
        }

        // Fix Safari "back button re-execute onload" issue
        var jj=onload;
        if(jj){
            if(onunload==null){
                document.body.setAttribute('onunload',jj);
            }
        }
        $('search-link').style.marginRight="10px";
    }
    //
    </script>
<script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-6140792-1");
            pageTracker._trackPageview();
            </script>


  </body>
</html>
