<% unless result_data[:'dummy-mice'].nil? %>
  <table width="100%">
    <thead>
      <tr>
        <th class="hide_on_print"></th>
        <th>Allele Name</th>
        <th>Allele Type</th>
        <th>EMMA ID</th>
        <th>Colony Prefix</th>
        <th>ES Cell/Common Name</th>
        <th><%= result_data[:'dummy-mice'].select { |mouse| mouse[:genetic_background] }.size > 0 ? 'Genetic Background' : '(International) Strain Designation' %></th>

        <% if @display_qc_screening_data %>
        <th>QC/Screening Data</th>
        <% end %>

        <th>MI/Distribution Centre</th>
      </tr>
    </thead>
    <tbody>
    <% result_data[:'dummy-mice'].each do |mouse| %>
      <tr>
        <td>
          <%
            dist_flag = false
            dist_flag = true if mouse[:emma] == "1"
          %>
          <% if mouse[:pipeline].blank? and !mouse[:emma_id].blank? %>
            <%= emma_mouse_order_button( mouse[:emma_id] ) %>
          <% else %>
            <%= mouse_order_button( mouse[:mgi_accession_id], mouse[:marker_symbol], mouse[:pipeline], mouse[:ikmc_project_id], dist_flag, mouse[:production_centre], mouse[:distribution_centre] ) %>
          <% end %>
        </td>
        <td><%= mouse[:allele_name] %></td>
        <td>
          <%= mouse[:allele_type] %>
          <% if mouse[:cassette_type] %>
            (<%= mouse[:cassette_type] %> Cassette)
          <% end %>
        </td>
        <td><a href="<%= emma_link_url( mouse[:emma_id] ) %>" target="blank"><%= mouse[:emma_id] %></td>
        <td><%= mouse[:colony_prefix] %></td>
        <td><%= mouse[:escell_clone] || mouse[:common_name] %></td>
        <td><%= mouse[:genetic_background] || mouse[:international_strain_name] %></td>


        <% if @display_qc_screening_data %>
        <td>
          <% if mouse[:qc_count] > 0 %>
            <a class="mice_qc_details_toggle">view&nbsp;data</a>
          <% else %>
            <em style="color:#999;">no&nbsp;data&nbsp;reported</em>
          <% end %>
          <br />
          (&nbsp;<a href="http://www.knockoutmouse.org/kb/entry/90/" target="_blank" class="ext_link">about</a>&nbsp;)
        </td>
        <% end %>



        <td><%= [ mouse[:production_centre], mouse[:distribution_centre] ].uniq.join('/') %></td>
      </tr>
      <% if mouse[:qc_count] > 0 && @display_mouse_qc %>
        <tr class="mice_qc_details">
          <td colspan="9">
            <%= partial('dataviews/mice/qc_data', :locals => { :result => mouse }) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>
