<%
  @genetic_background_mapper = {}
  result_data[:'dummy-mice'].each do |item|
    @genetic_background_mapper[item[:colony_prefix]] = item[:genetic_background]
  end
%>

<table class="wtsi-phenotyping_heatmap">
  <thead>
    <tr>
      <th>Allele Name</th>
      <th>Colony Prefix</th>
      <th>Colony Strain</th>
      <% test_display_names.each do |test,display_name| %>
        <th><span class="vertical_text"><%= display_name %></span></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% test_based_pheno_data.each do |result| %>
      <tr>
        <td><%= result[:allele_name] %></td>
        <td><%= result[:colony_prefix] %></td>
        <td><%= @genetic_background_mapper[result[:colony_prefix]] %></td>
        <% test_display_names.each do |test,display_name| %>
          <td class="<%= wtsi_phenotyping_css_class_for_test(result[test]) %> pheno_result">
            <% if result["#{test}_data".to_sym] %>
              <% if test == :eye_histopathology %>
                <% pdf = result["#{test}_data".to_sym][0] %>
                <a href="<%= pdf[:url] %>" class="pdf_report"><%= image_tag( '/images/silk/page_white_acrobat.png', :alt => 'view pdf' ) %></a>
              <% else %>
                <%=
                  link_to(
                    image_tag( '/images/silk/chart_bar.png', :alt => 'view' ),
                    "/phenotyping/#{result[:colony_prefix]}/#{test.to_s.gsub('_','-')}/",
                    :class => 'html_report'
                  )
                %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%=
  link_to(
    'download a spreadsheet containing all WTSI phenotyping data',
    '/phenotyping/mgp_heatmap.xls',
    :title => 'Download the Phenotyping Overview',
    :class => 'wtsi-phenotyping-heatmap-link button'
  )
%>

<div class="clear"></div>

<%= partial( 'dataviews/wtsi-phenotyping/heatmap_legend' ) %>
