<h6>
  <a href="">
    <%= title %>
    <% if protocol_data[:significant_parameters] %>
      - <span class="header_annotation">significant parameters</span>
    <% end %>
  </a>
</h6>
<div>
  <div class="test-descriptor">
    <div class="test-descriptor-content">
      <%= protocol_data[:protocol_description] %>
    </div>
  </div>

  <%
    cells = []
    protocol_data[:parameters].each do |parameter,parameter_data|
      parameter_data.keys.each do |key|
        next if [:graphs,:data_files,:order_by,:mp_annotation,:pops_params].include?(key)
        cells.push(key) unless cells.include?(key)
      end
    end
    cells.sort!
  %>

  <div style="margin-bottom:7px">
    <a href="#" class="single_parent_toggler_toggle slide">view legend</a>
    <div class="single_parent_toggler_content">
      <%= partial('dataviews/wtsi-phenotyping/heatmap_legend', :locals => { :dont_show_report_links => true }) %>
    </div>
  </div>

  <table class="wtsi_pheno_parameter_details">
    <thead>
      <tr>
        <th class="parameter_name">Parameter</th>
        <% cells.each do |cell| %>
          <th class="gender_genotype center"><%= cell.to_s.split('_').join('<br/>') %></th>
        <% end %>
        <th class="graph_link_column">Graph</th>
        <th>MP Annotation</th>
      </tr>
    </thead>
    <tbody>
      <% protocol_data[:parameters].sort_by{ |k,v| v[:order_by] }.each do |parameter,parameter_data| %>
        <tr>
          <td><%= parameter %></td>
          <% cells.each do |cell| %>
            <%
              cell_class = 'no_data'
              unless parameter_data[cell.to_sym].nil?
                cell_class = wtsi_phenotyping_css_class_for_test(parameter_data[cell.to_sym][:manual_call])
              end
            %>
            <td class="<%= cell_class %> pheno_result"></td>
          <% end %>
          <td class="center">

            	<% parameter_data[:graphs].each_index do |index| %>
			  				<% graph_url = parameter_data[:graphs][index]%>
			  				<% next if graph_url.blank? %>
			  				<% data_file_url = parameter_data[:data_files][index] %>
              	<a 
              	href="<%= graph_url %>"
              	rel="prettyPhoto[<%= "#{protocol_data[:protocol].gsub(/[%\s\(\)]/,'_')}" %>]"
              	title="<%= partial( "dataviews/wtsi-phenotyping/test_details_protocol_graph_legend", :locals => { :cells => cells, :protocol => protocol_data[:protocol], :parameter => parameter, :parameter_data => parameter_data, :data_file_url => data_file_url } ) %>"
              	class="graph">
              	view graph</a>
            	<% end %>
          </td>
          <td>
            <% unless parameter_data[:mp_annotation].nil? %>
              <%
                terms = []
                parameter_data[:mp_annotation].sort_by{ |k,v| k.to_s }.each do |mp_id,mp_term|
                  terms.push("#{mp_id} - #{mp_term}")
                end
              %>
                <%= terms.join('<br/>') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
