<div id="wtsi-phenotyping-report">
	<table border='0' cellpadding='0' cellspacing='0'>
		<tr>
			<td>
				<table>
					<tr>
						<% @data.keys.each do |gender| %>
							<td>
                <div><h3><%= gender %></h3></div>
								<table>
									<tr>
										<% @data[gender].keys.each do |membership| %>
										<td>
											<table border='0' cellpadding='0' cellspacing='0'>
												<thead>
													<tr>
														<th colspan='3'><%= membership %></th>
													</tr>
													<tr>
														<th>Mouse</th>
														<th>X Value</th>
														<th>Y Value</th>
													<tr>
												</thead>
												<tbody>
												<% @data[gender][membership].each do |row| %>
													<tr>
														<td><%= row[:mouse_name] %></td>
														<td><%= row[:x_value] %></td>
														<td><%= row[:y_value] %></td>
													</tr>
												<% end %>
												</tbody>
											</table>
										</td>
										<% end %>
									</tr>
								</table>
							</td>
						<% end %>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
