<div class="dataset">
  <div class="dataset_content">
    <% if !@data[:vector_image].nil? && show_allele_and_vector_images %>
      <img src="<%= @data[:vector_image] %>" width="930px" />
    <% end %>

    <div class="clear"></div>
    <%= partial( "project_report/ensembl_htgt_links", { :locals => { :escell => nil } } ) %>

    <table>
      <thead>
        <th class="hide_on_print"></th>
        <th>Design</th>
        <th>Vector Type</th>
        <th>Targeting Vector</th>
        <th>Cassette</th>
        <th>Backbone</th>
        <th class="hide_on_print">Genbank File</th>
      </thead>
      <tbody class="products">
        <% order_vector_txt = vector_order_button( @data[:mgi_accession_id], @data[:marker_symbol], @data[:ikmc_project], @data[:project_id] ) %>
        <% @data[:targeting_vectors].each do |targvec| %>
          <tr>
            <td class="hide_on_print">
              <%= order_vector_txt %>
            </td>
            <td style="text-align: center;">
            <% if targvec[:design_id] %>
              <a href="<%= htgt_design_url( targvec[:design_id] ) %>" target="_blank"><i class="fa fa-pencil-square-o fa-2x"></i></a>
            <% else %>
              -
            <% end %>
            </td>
            <td><%= targvec[:design_type] %> (<%= targvec[:cassette_type] %> Cassette)</td>
            <td><%= targvec[:name] %></td>
            <td><%= targvec[:cassette] %></td>
            <td><%= targvec[:backbone] %></td>
            <td class="hide_on_print" style="text-align: center;">
              <% if @data[:vector_gb].nil? %>
                <span style="color:#999;">unavailable</span>
              <% else %>
                <a href="<%= @data[:vector_gb] %>" target="_blank" class="file ext_link"><i class="fa fa-file-text fa-2x"></i></a>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @data[:targeting_vectors].size > 1 %>
      <p class="textright">
        <a class="products_toggle">show all <%= @data[:targeting_vectors].size %> targeting vectors</a>
      </p>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
