
<style TYPE="text/css">
.dataset {
border: 1px solid #6998CB;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
padding: 7px 7px 0;
margin-bottom: 7px;
}

.toggle-open, .toggle-close, .toggle-up {
background: url(../images/silk/bullet_arrow_down.png) no-repeat 0 center;
padding-left: 16px;
padding-top: 2px;
padding-bottom: 2px;
}

.dataset_content {
overflow: auto;
}

</style>

<div id="gene_panel_results" class='dataset'>
  <h4>Gene Panel</h4>
  <p><%= @default %></p>
</div>

<div id="phenotyping_panel_results" class='dataset'>
  <h4>Phenotyping Panel</h4>
  <p><%= @default %></p>
</div>

<div id="expression_panel_results" class='dataset'>
  <h4>Expression Panel</h4>
  <p><%= @default %></p>
</div>

<div id="tracker_panel_results" class='dataset'>
  <h4>Tracker Panel</h4>
  <p><%= @default %></p>
</div>

<div id="alleles_panel_results" class='dataset'>
  <h4>Alleles Panel</h4>
  <p><%= @default %></p>
</div>


