<style type="text/css">
.gene-data {background:#FFFFFF;}
</style>


<% if(@alleles.length > 1) %>

<table border="1">
<thead>
    <tr>
        <td class="gene-data">Product</td>
        <td>Allele Type</td>
        <td>Strain of Origin</td>
        <td>MGI Allele Name</td>
        <td>Allele Map</td>
        <td>Allele Sequence</td>
        <td>Order</td>
    </tr>
</thead>
<tbody>
<%
@alleles["order"].each do |tag|
    allele = @alleles[tag]
    if(!allele.nil?)
%>
<tr>
    <td><%= allele["product"] %></td>
    <td><%= allele["mutation_subtype"] %></td>
    <td><%= allele["escell_strain"] %></td>
    <td>
        <% if (!allele["mgi_allele_id"].nil?) %>
        <a href="http://www.informatics.jax.org/searchtool/Search.do?query=<%= allele["mgi_allele_id"] %>">
            <%= allele["marker_symbol"] %> <sup><%= allele["allele_symbol_superscript"] %></sup>
        </a>
        <% else %>
            <a href="http://www.informatics.jax.org/searchtool/Search.do?query=<%= allele["marker_symbol"] %> <%= allele["allele_symbol_superscript"] %>">
              <%= allele["marker_symbol"] %> <sup><%= allele["allele_symbol_superscript"] %></sup>
            </a>
        <% end %>
    </td>
    <td>
        <% if(allele["allele_id"]=="not yet") %>
            Not available yet
        <% else %>
            <a href="http://www.knockoutmouse.org/targ_rep/alleles/<%= allele["allele_id"] %>/allele-image" target="_blank">
                <img ismap="true" height="50" width="200"
                src="http://www.knockoutmouse.org/targ_rep/alleles/<%= allele["allele_id"] %>/allele-image">
            </a>
        <% end %>
    </td>
    <td>
        <% if(allele["allele_id"]=="not yet") %>
            Not available yet
        <% else %>
            <a href="http://www.knockoutmouse.org/targ_rep/alleles/<%= allele["allele_id"] %>/escell-clone-genbank-file">Genbank file</a>
        <% end %>
    </td>
    <td><a href="<%= allele["order_url"]%>" target="_blank"><%= allele["order_visual"] %></a></td>
</tr>
<%
    end
end
%>
</tbody>
</table>

<% else %>
<h4> No IKMC Targeted Mutations For This Gene </h4>
<% end   %>