<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js">
  <head>
    <% if @page_title %>
      <title><%= @page_title %> - <%= @portal_name %></title>
    <% else %>
      <title><%= @portal_name %></title>
    <% end %>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- css -->
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" media="all">
    <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" media="all">
    <link type="text/css" rel="stylesheet" href="http://test.mousephenotype.org/sites/all/themes/impc/css/default.css" media="all">


    <% if ENV['RACK_ENV'] == "production" or ENV['RACK_ENV'] == "staging" %>
      <%= stylesheet_link_tag "/css/martsearch-#{MartSearch::Server::VERSION}.css", :media => 'all', :charset => 'utf-8' %>
      <%= stylesheet_link_tag '/css/print.css', :media => 'print', :charset => 'utf-8' %>
      <%= stylesheet_link_tag '/sites/all/themes/impc_zen/css/page-backgrounds.css', :media => 'all', :charset => 'utf-8' %>
  <%= javascript_script_tag "/js/martsearch-head-#{MartSearch::Server::VERSION}.js", :charset => 'utf-8' %>
    <% else %>

      <% MartSearch::Server::DEFAULT_CSS_FILES.each do |css_file| %>
        <%= stylesheet_link_tag "/css/#{css_file}", :media => 'all', :charset => 'utf-8' %>
      <% end %>
      <%= stylesheet_link_tag '/css/print.css', :media => 'print', :charset => 'utf-8' %>
      <% @ms.dataviews.each do |view| %>
        <% unless view.stylesheet.nil? %>
          <%= stylesheet_link_tag "/dataview-css/#{view.internal_name}.css", :media => 'all', :charset => 'utf-8' %>
        <% end %>
      <% end %>

  <% MartSearch::Server::DEFAULT_HEAD_JS_FILES.each do |js_file| %>
        <%= javascript_script_tag "/js/#{js_file}", :charset => 'utf-8' %>
      <% end %>
      <% @ms.dataviews.each do |view| %>
        <% unless view.javascript_head.nil? %>
          <%= javascript_script_tag "/dataview-head-js/#{view.internal_name}.js", :charset => 'utf-8' %>
        <% end %>
      <% end %>

    <% end %>

    <script type="text/javascript" charset="utf-8">
      // Set the url of the software (for js that needs to know)...
      var martsearch_url = '<%= @request.script_name %>';

      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23433997-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body id="top">
    <div id="wrapper">
      <header id="header">
        <div class="region region-header">
          <div class="half"><p><img height="50" src="http://test.mousephenotype.org/sites/all/themes/impc/img/logo/impc.png" alt="IMPC Logo"></p></div>
          <div class="half"><p class="textright"><img width="60" src="http://test.mousephenotype.org/martsearch_ikmc_project/sites/all/themes/ikmc/logo.png" alt="IKMC Logo"></p></div>
          <div class="clear"></div>
        </div>
      </header>

      <noscript>
        <div id="noscript_warning" class="messages serious_errors">
          <strong>WARNING:</strong> It appears that you do not have javascript
          enabled in your browser.  This portal will still function correctly
          without javascript enabled, but the experience will not be as good
          as it could be.  For a more complete experience, please
          <a href="http://www.google.com/search?q=enable+javascript">enable
          javascript</a> in your browser and refresh the page.
        </div>
      </noscript>

      <div id="browser_warnings" class="messages serious_errors" style="display:none;"></div>

      <% if @errors[:index] and !@errors[:index].empty? %>
        <!-- search engine errors -->
        <div class="messages serious_errors">
          <h5>Sorry, an error occurred whilst querying the search engine...</h5>
          <% @errors[:index].each do |error| %>
            <div id="serious_error_wrapper">
              <%= error[:text] %>&nbsp;&nbsp;
              <a href="#" class="single_parent_toggler_toggle">more&nbsp;information</a>
              <div class="single_parent_toggler_content error_more_information">
                <strong><%= error[:type] %></strong><br />
                <pre>
                  <%= error[:error] %>
                </pre>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div id="main">
        <div id="region-content">
          <div id="node">
            <div id="content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

      <div id="footer">
        <div class="centercontent">
          <div class="region region-footer">
            <div id="block-block-11" class="block block-block">
              <div class="content">
                <p>
                  <img src="https://www.mousephenotype.org/martsearch_ikmc_project/sites/all/themes/impc_zen/images/logo/footerLogos.jpg">
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="footerline">
          <div class="centercontent">
            <div id="footersitemap" class="twothird left">
              <div class="region region-mainnavi">
                <div id="block-menu-block-1" class="block block-menu-block">
                  <div class="content">
                    <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-1">
                      <ul class="menu">
                        <li class="first leaf menu-mlid-3127"><a href="https://beta.mousephenotype.org/data/search">Search</a></li>
                        <li class="expanded menu-mlid-530"><a href="/goals-and-background">About IMPC</a>
                          <ul class="menu">
                            <li class="first leaf menu-mlid-3125"><a href="/goals-and-background" title="">Goals and Background</a></li>
                            <li class="leaf menu-mlid-537"><a href="/about-impc/impc-members">IMPC Members</a></li>
                            <li class="leaf menu-mlid-3197"><a href="https://www.mousephenotype.org/sites/mousephenotype.org/files/IMPC%20Governance%20and%20Coordination%20v11%20June%202013.pdf" title="">Governance Documentation</a></li>
                            <li class="leaf has-children menu-mlid-3525"><a href="/about-impc/coordination">Coordination</a></li>
                            <li class="leaf menu-mlid-3229"><a href="/about-impc/industry-sponsors">Industry Sponsors</a></li>
                            <li class="leaf menu-mlid-546"><a href="/about-impc/impc-secretariat">Secretariat</a></li>
                            <li class="last leaf has-children menu-mlid-3223"><a href="/about-impc/publications">Additional Information</a></li>
                          </ul>
                        </li>
                        <li class="expanded menu-mlid-526"><a href="/news" title="">News &amp; Events</a>
                          <ul class="menu">
                            <li class="first leaf menu-mlid-3185"><a href="/news-events/impc-lethal-lines">IMPC Lethal Lines</a></li>
                            <li class="leaf menu-mlid-2102"><a href="/news-and-events/meetings-2013">Meetings</a></li>
                            <li class="last leaf menu-mlid-3157"><a href="/news-events/phone-conferences">Phone Conferences</a></li>
                          </ul>
                        </li>
                        <li class="leaf menu-mlid-559"><a href="/contact-us">Contact</a></li>
                        <li class="last expanded menu-mlid-1220"><a href="/user?current=node/718" title="">My IMPC</a>
                          <ul class="menu">
                            <li class="first leaf menu-mlid-1126"><a href="/forum" title="">IMPC Forum</a></li>
                            <li class="last leaf menu-mlid-3133"><a href="/my-impc/documentation">Documentation</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="onethird right">
              <div id="vnavi">
                <ul>
                  <li>Version: 0.9.1</li>
                  <li><a href="http://raw.github.com/mpi2/PhenotypeArchive/master/LICENSE" class="ext">License</a><span class="ext"></span></li>
                  <li><a href="https://raw.github.com/mpi2/PhenotypeArchive/master/CHANGES" class="ext">Changelog</a><span class="ext"></span></li>
                </ul>
              </div>
              <div class="clear"></div>
              <p class="textright">© 2014 IMPC · International Mouse Phenotyping Consortium</p>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
   <% if @config[:debug] %>
      <div id="debug-config">
        <h3>MartSearch::Server Config (Debug Info)</h3>
        <pre><%= @config.to_yaml %></pre>
      </div>
    <% end %>

    <% if ENV['RACK_ENV'] == "production" or ENV['RACK_ENV'] == "staging" %>
      <%= javascript_script_tag "/js/martsearch-base-#{MartSearch::Server::VERSION}.js", :charset => 'utf-8' %>
    <% else %>
      <% MartSearch::Server::DEFAULT_BASE_JS_FILES.each do |js_file| %>
        <%= javascript_script_tag "/js/#{js_file}", :charset => 'utf-8' %>
      <% end %>
      <% @ms.dataviews.each do |view| %>
        <% next if view.javascript_base.nil? %>
        <%= javascript_script_tag "/dataview-base-js/#{view.internal_name}.js", :charset => 'utf-8' %>
      <% end %>
    <% end %>
    </div>
  </body>
</html>
