<% unless @errors[:project_page_errors].nil? or @errors[:project_page_errors].empty? %>
  <div class="messages serious_errors">
    <h5>Sorry, an error occurred whilst querying the data sources ...</h5>
    <% @errors[:project_page_errors].each do |error| %>
      <div id="serious_error_wrapper">
        <%= error[:text] %>&nbsp;&nbsp;
        <a href="#" class="single_parent_toggler_toggle">more&nbsp;information</a>
        <div class="single_parent_toggler_content error_more_information">
          <strong><%= error[:type] %></strong><br />
          <pre>
            <%= error[:error] %>
          </pre>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<h3>IKMC Project Report - <%= @data[:ikmc_project] %> (ID: <%= @data[:project_id] %>)</h3>

<h5>
  <a href="https://www.mousephenotype.org/data/genes/<%= @data[:mgi_accession_id] %>"><%= @data[:marker_symbol] %></a>
  <a href="http://www.informatics.jax.org/searches/accession_report.cgi?id=<%= @data[:mgi_accession_id] %>"><%= @data[:mgi_accession_id] %></a>
</h5>

<p class="display_on_print" style="display:none;">
  Program: <%= @data[:ikmc_project] %><br />
  Pipeline Progress: <%= @data[:status] %>
</p>

<div id="search_results">
  <div class="result">
    <!-- Pipeline progress bar -->
    <%= partial("project_report/progress_bar") %>

    <!-- Mice -->
    <% if @data[:mice].blank? %>
      <%= partial("no_data", :locals => { :title => 'Mice' }) %>
    <% else %>
      <%= partial("project_report/mice") %>
    <% end %>

    <!-- Mutagenesis Predictions -->
    <% if @data[:mutagenesis_predictions].blank? or @data[:mutagenesis_predictions][:transcripts].blank? %>
      <%= partial("no_data", :locals => { :title => 'Mutagenesis Predictions' }) %>
    <% else %>
      <%= partial("project_report/mutagenesis_predictions") %>
    <% end %>

    <% @show_allele_and_vector_images = true %>

    <% if @data[:es_cells].blank? or ( @data[:es_cells][:conditional][:cells].empty? and @data[:es_cells][:'targeted non-conditional'][:cells].empty? ) %>
      <%= partial("no_data", :locals => { :title => 'ES Cell Clones' }) %>
    <% else %>
      <!-- ES Cell Clones (Conditional) -->
      <% unless @data[:es_cells][:conditional][:cells].empty? %>
        <%= partial("project_report/es_cells", :locals => { :cond_vs_noncond => :conditional, :show_allele_and_vector_images => @show_allele_and_vector_images }) %>
      <% end %>

      <!-- ES Cell Clones (Non-Conditionals) -->
      <% unless @data[:es_cells][:'targeted non-conditional'][:cells].empty? %>
        <%= partial("project_report/es_cells", :locals => { :cond_vs_noncond => :'targeted non-conditional', :show_allele_and_vector_images => @show_allele_and_vector_images }) %>
      <% end %>
    <% end %>

    <!-- Targeting Vectors -->
    <% if @data[:targeting_vectors].blank? %>
      <%= partial("no_data", :locals => { :title => 'Targeting Vectors' }) %>
    <% else %>
      <%= partial("project_report/targeting_vectors", :locals => { :show_allele_and_vector_images => @show_allele_and_vector_images } ) %>
    <% end %>

    <!-- Intermediate Vectors -->
    <% if @data[:intermediate_vectors].blank? %>
      <%= partial("no_data", :locals => { :title => 'Intermediate Vectors' }) %>
    <% else %>
      <%= partial("project_report/intermediate_vectors") %>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  // QC results toggles
  jQuery(".details_toggle").live("click", function () {
    jQuery(this).parent().parent().next(".details").toggle();
    jQuery(this).toggleClass("toggle-open");
    jQuery(this).toggleClass("toggle-close");
  });

  jQuery(".details").hide();
  jQuery(".details_toggle").removeClass("toggle-open");
  jQuery(".details_toggle").addClass("toggle-close");

  // Products toggles
  jQuery("a.products_toggle").live("click", function () {
    var rows    = jQuery(this).parent().find("tbody.products").children().not(".details").slice(1);
    var qc_rows = jQuery(this).parent().find("tbody.products .details");

    if ( rows.first().is(":visible") ) { qc_rows.hide(); rows.hide(); }
    else                               { rows.show(); }

    jQuery(this).toggleClass("toggle-up");
    jQuery(this).toggleClass("toggle-close");
  });

  jQuery("tbody.products").each( function () {
    var rows = jQuery(this).children().not(".details");
    rows.slice(1, rows.size()).hide();
  });

  jQuery(".products_toggle").addClass("toggle-close");
  jQuery(".products_toggle").removeClass("toggle-up");
</script>

